# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=your_project_id_here
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01
SANITY_API_TOKEN=your_write_token_here

# Site
NEXT_PUBLIC_SITE_URL=https://dreampool.si

# Email (za contact formo - opcijsko Resend ali Nodemailer)
RESEND_API_KEY=your_resend_api_key_here
CONTACT_EMAIL=info@dreampool.si
